.arrow {
  width: 2rem;
  height: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 2.5rem;
  border-radius: 0.6rem 0.6rem 0.4rem 0.4rem;
  margin: 1rem 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
